.manager-container {
  padding: 2rem;
  background-color: #f9f9f9;
}

.manager-title {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}


.icon-title {
  margin-right: 0.5rem;
  color: #2b7a78;
}

.shared-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.shared-card {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.shared-icon {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #3aafa9;
  text-align: right;
}

.no-data {
  color: #888;
  font-style: italic;
}
